<div class="row">
  <div class="col s12 m4 l3 hide-on-small-only"> 
    <img ng-src="material/img/andes_bus.jpg" class="responsive-img z-depth-2">

    <div class="row">
      <div class="col s12">
        <div class="collection">
          <a href="#!" class="collection-item">Notificaciones</a>
          <a href="#!" class="collection-item">Empleado</a>
          <a href="#!" class="collection-item">Categoría</a>
          <a href="#!" class="collection-item">Empleador</a>
          <a ng-href="/bolsa-de-trabajo/oferta" class="collection-item"><i class="material-icons">toc</i> Oferta</a>
          <a href="#!" class="collection-item">Departamento</a>
          <a href="#!" class="collection-item">Mensaje</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m8 l9 card-panel indigo lighten-5">
    
  </div>

</div>
