<!--<script src="material/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>-->

<nav class="nav-extended">
  <div class="nav-wrapper orange darken-3">
    <a ng-href="/venta-de-pasaje/" class="brand-logo left hide-on-med-and-down">ANDES BUS</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ng-href="/venta-de-pasaje/"><i class="material-icons left">refresh</i>Inicio </a></li>
      <li ng-hide="c_admin || c_user"><a ng-href="/venta-de-pasaje/login"><i class="material-icons left">perm_identity</i>Ingresar </a></li>
      <li ng-show="c_admin"><a ng-href="/venta-de-pasaje/login"><i class="material-icons left">perm_identity</i>Crear usuarios </a></li>
      <li ng-show="c_admin || c_user"><a ng-click="logout();"><i class="material-icons left">close</i>Salir</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a ng-href="/venta-de-pasaje/"><i class="material-icons left">refresh</i>Inicio </a></li>
      <li ng-hide="c_admin || c_user"><a ng-href="/venta-de-pasaje/login"><i class="material-icons left">perm_identity</i>Ingresar </a></li>
      <li ng-show="c_admin"><a ng-href="/venta-de-pasaje/login"><i class="material-icons left">perm_identity</i>Crear usuarios </a></li>
      <li ng-show="c_admin || c_user"><a ng-click="logout();"><i class="material-icons left">close</i>Salir</a></li>
    </ul>

    <ul class="tabs tabs-transparent orange darken-4">
      <li class="tab" ng-hide="c_admin || c_user"><a ng-click="navViajes();"><i class="material-icons left" style="margin: -8px 0 0 0;">dns</i>Viajes </a></li>
      <li class="tab" ng-hide="c_admin || c_user"><a ng-click="navBuses();"><i class="material-icons left" style="margin: -8px 0 0 0;">view_module</i>Buses </a></li>

      <li class="tab" ng-show="c_admin"><a ng-click="navRegChoferes();"><i class="material-icons left" style="margin: -8px 0 0 0;">settings_input_svideo</i>Choferes </a></li>
      <li class="tab" ng-show="c_admin"><a ng-click="navRegBuses();"><i class="material-icons left" style="margin: -8px 0 0 0;">add</i>Buses </a></li>
      <li class="tab" ng-show="c_admin"><a ng-click="navRegViajes();"><i class="material-icons left" style="margin: -8px 0 0 0;">playlist_add</i>Viajes </a></li>
      <li class="tab" ng-show="c_admin || c_user"><a ng-click="navRegClientes();"><i class="material-icons left" style="margin: -8px 0 0 0;">person_pin</i>Clientes </a></li>
      <li class="tab" ng-show="c_admin || c_user"><a ng-click="navRegPasajes();"><i class="material-icons left" style="margin: -8px 0 0 0;">loyalty</i>Venta de Pasajes </a></li>
      <li class="tab" ng-show="c_admin"><a ng-click="navReportes();"><i class="material-icons left" style="margin: -8px 0 0 0;">description</i>Reportes </a></li>
    </ul>
  </div>
</nav>



<script>
  /*$(document).ready(function() {
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
    //$('.parallax').parallax();
  });*/
</script>