<!--<script src="material/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>-->

<div id="index-banner" class="parallax-container">
  <div class="parallax"><img src="material/img/andes_bus.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text text-darken-3">Sistema de ventas de pasaje "Andes Bus" </h1>
    <div class="row center">
      <h5 class="header col s12 light">Una moderna plataforma que te brinda un servicio de calidad</h5>
    </div>
    <div class="row center">
      <a href="/venta-de-pasaje/viajes" id="download-button" class="btn-large waves-effect waves-light orange darken-4">Viajes </a>
    </div>
    <br><br>

  </div>
</div>


<div class="container" ng-controller="busCtrl">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Brindamos</h5>

          <p class="light">Un servicio eficiente en el transporte de pasajeros, ofreciendo calidad en el servicio, garantizando la satisfacción y bienestar del cliente uniendo a Bolivia a través de sus rutas de todo el territorio Nacional, buscando la máxima exelencia en el servicio.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Visión</h5>

          <p class="light">Mantener nuestro servicio de calidad, otorgando a todos nuestros clientes seguridad, responsabilidad, comonidad, puntualidad, siendo una empreza lider en el aporte a la integracion del País.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Seguridad</h5>

          <p class="light">Nos preocupamos por la seguridad de nuestros clientes, reduciendo posibles riesgos mediante el mantenimiento de nuestra flota con el personal profecional, capacitado y de confianza, asegurando la tranquilidad de nuestros usuarios.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="carousel">
    <a class="carousel-item" href=""><img ng-src="material/photos/1481001195.jpeg" style="height: 280px;"></a>
    <a class="carousel-item" href=""><img ng-src="material/photos/1481001247.jpeg" style="height: 280px;"></a>
    <a class="carousel-item" href=""><img ng-src="material/photos/1481001302.jpeg" style="height: 280px;"></a>
    <a class="carousel-item" href=""><img ng-src="material/photos/1481001341.jpeg" style="height: 280px;"></a>
  </div>
</div>



<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      dist:0,
      shift:0,
      padding:20,
    });
    $('.parallax').parallax();
    /*$(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();*/
  });
</script>