<div style="background: #e9ebee;" class="content z-depth-2" ng-controller="busCtrl" ng-init="find();">
	<div class="row">
		<div class="col l3 m2"></div>
		<div class="col l6 m8 s12">
			<div class="card-panel">
				<div class="row">
					<div class="row" ng-show="mensaje">
						<div class="col s12">
							<div class="content">
								<div class="card-panel blue-grey lighten-1">
									{{mensaje}}
								</div>
							</div>
						</div>
					</div>
					<h3 class="s12 center-align">
						Registra un nuevo Bus
					</h3>
					<form class="col s12" name="form1">
						<div class="row">
							<div class="input-field col s12">
								<input id="v_placa" type="text" class="validate" ng-model="new.placa" required>
								<label for="v_placa">Placa </label>
							</div>
							<div class="input-field col s12">
								<input id="v_marca" type="text" class="validate" ng-model="new.marca" required>
								<label for="v_marca">Marca </label>
							</div>
							<div class="input-field col s12">
								<input id="v_numBus" type="text" class="validate" ng-model="new.num" required>
								<label for="v_numBus">Numero de Bus </label>
							</div>
							<div class="input-field col s12">
								<input id="v_color" type="text" class="validate" ng-model="new.color" required>
								<label for="v_color">Color </label>
							</div>
							<div class="input-field col s12">
								<input id="v_capacidad" type="number" class="validate" ng-model="new.capacidad" required>
								<label for="v_capacidad">Capacidad </label>
							</div>
							<div class="input-field col s12">
								<select id="v_tipo" ng-model="new.tipo">
									<option value=""></option>
									<option value="normal">Normal</option>
									<option value="semi">Semi cama</option>
									<option value="cama">Cama</option>
								</select>
								<label for="v_tipo">Tipo de Bus </label>
							</div>
							<div class="file-field input-field col s12">
								<div class="btn">
									<span>Imagen</span>
									<input type="file" file-model="file">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text" ng-model="newObj.img">
								</div>
							</div>
							<div class="row center">
								<div class="col s12 m6">
									<a class="waves-effect waves-light btn" ng-click="save(new);" ng-disabled="form1.$invalid"><i class="material-icons left">cloud</i>Guardar</a>
								</div>
								<div class="col s12 m6">
									<a class="waves-effect waves-light btn red darken-4" ng-click="cancelar();"><i class="material-icons left">clear_all</i>Cancelar</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col l3 m2"></div>
	</div>




	<div class="row">
		<div class="col l2 m1"></div>
		<div class="col l8 m10 s12">
			<div class="content">
				<div class="row">
					<h3 class="col s12 center-align">Lista de los lugares</h3>
				</div>
				<div class="row">
					<!-- List Lugar -->
					<div class="col s12">
						<table class="bordered highlight responsive-table">
							<thead>
								<tr>
									<th>Foto </th>
									<th>Placa </th>
									<th>Marca </th>
									<th>Numero de Bus </th>
									<th>Color </th>
									<th>Capacidad </th>
									<th>Tipo de Bus </th>
									<th>Fecha de registro</th>
								</tr>
							</thead>
							<tbody>
								<!--<tr ng-repeat="g in garra | orderBy:'nombre':'reverse'">-->
								<tr ng-repeat="d in data | orderBy:'fecha':'reverse'">
									<td><img src="material/photos/{{d.img}}" class="responsive-img" width="45px"> </td>
									<td>{{d.placa}} </td>
									<td>{{d.marca}} </td>
									<td>{{d.num}} </td>
									<td>{{d.color}} </td>
									<td>{{d.capacidad}} </td>
									<td>{{d.tipo}} </td>
									<td>{{d.fecha}} </td>

									<td><a class="waves-effect waves-light btn-floating red darken-4" ng-click="delete(d.id);"><i class="material-icons left">delete</i></a></td>
									<td><a class="waves-effect waves-light btn-floating grey darken-4" ng-click="edit(d.id);"><i class="material-icons left">mode_edit</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col l2 m1"></div>
	</div>

	<!-- Galeria de imagenes -->
	<!--<div class="carousel carousel-slider">
		<a class="carousel-item" href="#one!"><img src="http://lorempixel.com/800/400/city/1"></a>
		<a class="carousel-item" href="#two!"><img src="http://lorempixel.com/800/400/city/2"></a>
		<a class="carousel-item" href="#three!"><img src="http://lorempixel.com/800/400/city/3"></a>
		<a class="carousel-item" href="#four!"><img src="http://lorempixel.com/800/400/city/4"></a>
	</div>-->


</div>


<script>
	$(document).ready(function() {
		$('input#input_text, textarea#descripcion').characterCounter();
		//$('.carousel').carousel();
		$('.carousel.carousel-slider').carousel({full_width: true});
		$('select').material_select();
	});
</script>
