<div class="content" ng-controller="busCtrl" ng-init="find();">
	<div class="row">
		<div class="col l3 m2"></div>
		<div class="col l6 m8 s12">
			<div class="card-panel blue-grey lighten-5">
				<div class="row">
					<div class="row" ng-show="mensaje">
						<div class="col s12">
							<div class="content">
								<div class="card-panel blue-grey lighten-1">
									{{mensaje}}
								</div>
							</div>
						</div>
					</div>
					<h3 class="s12 center-align">
						Registra un nuevo Bus
					</h3>
					<form class="col s12" name="form1">
						<div class="row">
							<div class="input-field col s12">
								<input id="v_placa" type="text" class="validate" ng-model="new.placa" required>
								<label for="v_placa">Placa </label>
							</div>
							<div class="input-field col s12">
								<input id="v_marca" type="text" class="validate" ng-model="new.marca" required>
								<label for="v_marca">Marca </label>
							</div>
							<div class="input-field col s12">
								<input id="v_modelo" type="text" class="validate" ng-model="new.modelo" required>
								<label for="v_modelo">Modelo </label>
							</div>
							<div class="input-field col s12">
								<input id="v_cilindrada" type="text" class="validate" ng-model="new.cilindrada" required>
								<label for="v_cilindrada">Cilindrada </label>
							</div>
							<div class="input-field col s12">
								<input id="v_motor" type="text" class="validate" ng-model="new.motor" required>
								<label for="v_motor">Motor </label>
							</div>
							<div class="input-field col s12">
								<input id="v_combustible" type="text" class="validate" ng-model="new.combustible" required>
								<label for="v_combustible">Combustible </label>
							</div>
							<div class="input-field col s12">
								<input id="v_capacidad" type="text" class="validate" ng-model="new.capacidad" required>
								<label for="v_capacidad">Capacidad </label>
							</div>
							<div class="input-field col s12">
								<input id="v_num_puertas" type="number" class="validate" ng-model="new.num_puertas" required>
								<label for="v_num_puertas">Número de puertas </label>
							</div>
							<div class="input-field col s12">
								<input id="v_tipo" type="text" class="validate" ng-model="new.tipo" required>
								<label for="v_tipo">Tipo de Bus </label>
							</div>
							<div class="row center">
								<div class="col s12 m6">
									<a class="waves-effect waves-light btn" ng-click="save(new);" ng-disabled="form1.$invalid"><i class="material-icons left">cloud</i>Guardar</a>
								</div>
								<div class="col s12 m6">
									<a class="waves-effect waves-light btn red darken-4" ng-click="cancelar();"><i class="material-icons left">clear_all</i>Cancelar</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col l3 m2"></div>
	</div>




	<div class="row">
		<div class="col l2 m1"></div>
		<div class="col l8 m10 s12">
			<div class="content">
				<div class="row">
					<h3 class="col s12 center-align">Lista de los lugares</h3>
				</div>
				<div class="row">
					<!-- List Lugar -->
					<div class="col s12">
						<table class="bordered highlight responsive-table">
							<thead>
								<tr>
									<th>Placa</th>
									<th>Marca</th>
									<th>Modelo</th>
									<th>Cilindrada</th>
									<th>Motor</th>
									<th>Combustible</th>
									<th>Capacidad</th>
									<th>Num. de puertas</th>
									<th>Tipo</th>
									<th>Fecha</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								<!--<tr ng-repeat="g in garra | orderBy:'nombre':'reverse'">-->
								<tr ng-repeat="d in data | orderBy:'Placa'">
									<td>{{d.placa}} </td>
									<td>{{d.marca}} </td>
									<td>{{d.modelo}} </td>
									<td>{{d.cilindrada}} </td>
									<td>{{d.motor}} </td>
									<td>{{d.combustible}} </td>
									<td>{{d.capacidad}} </td>
									<td>{{d.num_puertas}} </td>
									<td>{{d.tipo}} </td>
									<td>{{d.fecha}} </td>

									<td><a class="waves-effect waves-light btn-floating red darken-4" ng-click="delete(d.id);"><i class="material-icons left">delete</i></a></td>
									<td><a class="waves-effect waves-light btn-floating grey darken-4" ng-click="edit(d.id);"><i class="material-icons left">mode_edit</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col l2 m1"></div>
	</div>

	<!-- Galeria de imagenes -->
	<!--<div class="carousel carousel-slider">
		<a class="carousel-item" href="#one!"><img src="http://lorempixel.com/800/400/city/1"></a>
		<a class="carousel-item" href="#two!"><img src="http://lorempixel.com/800/400/city/2"></a>
		<a class="carousel-item" href="#three!"><img src="http://lorempixel.com/800/400/city/3"></a>
		<a class="carousel-item" href="#four!"><img src="http://lorempixel.com/800/400/city/4"></a>
	</div>-->


</div>


<script>
	$(document).ready(function() {
		$('input#input_text, textarea#descripcion').characterCounter();
		//$('.carousel').carousel();
		$('.carousel.carousel-slider').carousel({full_width: true});
	});
</script>
