<div style="background: #e9ebee;" class="content z-depth-2" ng-controller="reportesCtrl" ng-init="find();">
	<div class="row">
		<div class="col l3 m2"></div>
		<div class="col l6 m8 s12">
			<div class="card-panel">
				<div class="row">
					<div class="row" ng-show="mensaje">
						<div class="col s12">
							<div class="content">
								<div class="card-panel blue-grey lighten-1">
									{{mensaje}}
								</div>
							</div>
						</div>
					</div>
					<h3 class="s12 center-align">
						Reporte de ventas por fecha
					</h3>
					<form class="col s12" name="form1">
						<div class="row">
							<div class="input-field col s12">
								<input id="fecha_nac" type="text" class="datepicker" ng-model="new.fecha">
								<label for="fecha_nac">¿Fecha de ventas?</label>
							</div>
							<div class="row center">
								<div class="col s12 m6">
									<a class="waves-effect waves-light btn" ng-click="save(new);" ng-disabled="form1.$invalid"><i class="material-icons left">cloud</i>Generar Reporte</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col l3 m2"></div>
	</div>
	<!--<div class="row" id="reportePDF">
		<div class="col s12">
			<center>
				<h2>Reporte del: {{}} </h2>
				<p>Welcome putos</p>
				<img src="material/img/plato1.jpg" style="width: 150px">
				<table>
					<thead>
						<th>head 1</th>
						<th>head 2</th>
						<th>head 3</th>
						<th>head 4</th>
					</thead>
					<tbody>
						<tr ng-repeat="d in data">
							<td>{{d.ci_chofer}} </td>
							<td>{{d.nombre_chofer}} </td>
							<td>{{d.ci_cliente}} </td>
							<td>{{d.ci_chofer}} </td>
						</tr>
					</tbody>
				</table>
				<ul>
					<li>Under list</li>
					<li>Under list</li>
					<li>Under list</li>
					<li>Under list</li>
					<li>Under list</li>
				</ul>
				<ol>
					<li>Under list</li>
					<li>Under list</li>
					<li>Under list</li>
					<li>Under list</li>
				</ol>
			</center>
		</div>
	</div>-->
</div>



<script>
	$(document).ready(function() {
		$('.datepicker').pickadate({
			selectMonths: true, // Creates a dropdown to control month
			selectYears: 15 // Creates a dropdown of 15 years to control year
		});
	});
</script>
