<style>
	.input-field select {
		clear: both;
		display: block;
		margin: 0;
		padding: 0;
	}
	.input-field select option{
		clear: both;
		display: block;
		margin: 0;
		padding: 0;
	}
</style>

<div class="content" ng-controller="viajesCtrl" ng-init="find();findChofer();findBus();">
	<div class="row">
		<div class="col l3 m2"></div>
		<div class="col l6 m8 s12">
			<div class="card-panel blue-grey lighten-5">
				<div class="row">
					<div class="row" ng-show="mensaje">
						<div class="col s12">
							<div class="content">
								<div class="card-panel blue-grey lighten-1">
									{{mensaje}}
								</div>
							</div>
						</div>
					</div>
					<h3 class="s12 center-align">
						Registra un nuevo viaje
					</h3>
					<form class="col s12" name="form1">
						<div class="row">
							<div class="input-field col s12">
								<select ng-model="new.id_chofer" >
									<option value=""> </option>
									<option ng-repeat="d in dataChofer" value="{{d.id}}">{{d.nombre}} </option>
								</select>
							</div>
							<div class="input-field col s12">
								<select ng-model="new.id_bus" >
									<option value=""> </option>
									<option ng-repeat="d in dataBus" value="{{d.id}}">{{d.num}} </option>
								</select>
							</div>
							<div class="input-field col s12">
								<input id="horario" type="text" class="validate" ng-model="new.horario" required>
								<label for="horario">Horario </label>
							</div>
							<div class="input-field col s12">
								<input id="origen" type="text" class="validate" ng-model="new.origen" required>
								<label for="origen">Origen </label>
							</div>
							<div class="input-field col s12">
								<input id="destino" type="text" class="validate" ng-model="new.destino" required>
								<label for="destino">Destino </label>
							</div>
							<div class="row center">
								<div class="col s12 m6">
									<a class="waves-effect waves-light btn" ng-click="save(new);" ng-disabled="form1.$invalid"><i class="material-icons left">cloud</i>Guardar</a>
								</div>
								<div class="col s12 m6">
									<a class="waves-effect waves-light btn red darken-4" ng-click="cancelar();"><i class="material-icons left">clear_all</i>Cancelar</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col l3 m2"></div>
	</div>




	<div class="row">
		<div class="col l2 m1"></div>
		<div class="col l8 m10 s12">
			<div class="content">
				<div class="row">
					<h3 class="col s12 center-align">Lista de los lugares</h3>
				</div>
				<div class="row">
					<!-- List Lugar -->
					<div class="col s12">
						<table class="bordered highlight responsive-table">
							<thead>
								<tr>
									<th>Nombre del chofer </th>
									<th>Número de bus </th>
									<th>Horario </th>
									<th>Origen </th>
									<th>Destino </th>
									<th>Registrado </th>
								</tr>
							</thead>
							<tbody>
								<!--<tr ng-repeat="g in garra | orderBy:'nombre':'reverse'">-->
								<tr ng-repeat="d in data | orderBy:'fecha':'reverse'">
									<td>{{d.nameChofer}} </td>
									<td>{{d.numBus}} </td>
									<td>{{d.horario}} </td>
									<td>{{d.origen}} </td>
									<td>{{d.destino}} </td>
									<td>{{d.fecha}} </td>
									<td><a class="waves-effect waves-light btn-floating red darken-4" ng-click="delete(d.id);"><i class="material-icons left">delete</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col l2 m1"></div>
	</div>

	<!-- Galeria de imagenes -->
	<!--<div class="carousel carousel-slider">
		<a class="carousel-item" href="#one!"><img src="http://lorempixel.com/800/400/city/1"></a>
		<a class="carousel-item" href="#two!"><img src="http://lorempixel.com/800/400/city/2"></a>
		<a class="carousel-item" href="#three!"><img src="http://lorempixel.com/800/400/city/3"></a>
		<a class="carousel-item" href="#four!"><img src="http://lorempixel.com/800/400/city/4"></a>
	</div>-->


</div>


<script>
	$(document).ready(function() {
		$('input#input_text, textarea#descripcion').characterCounter();
		//$('.carousel').carousel();
		$('.carousel.carousel-slider').carousel({full_width: true});
	});
</script>
