<div class="content" ng-controller="choferCtrl" ng-init="find();">
	<div class="row">
		<div class="col l3 m2"></div>
		<div class="col l6 m8 s12">
			<div class="card-panel blue-grey lighten-5">
				<div class="row">
					<div class="row" ng-show="mensaje">
						<div class="col s12">
							<div class="content">
								<div class="card-panel blue-grey lighten-1">
									{{mensaje}}
								</div>
							</div>
						</div>
					</div>
					<h3 class="s12 center-align">
						Registra un nuevo Chofer
					</h3>
					<form class="col s12" name="form1">
						<div class="row">
							<div class="input-field col s12">
								<input id="ci" type="text" class="validate" ng-model="newObj.ci" required>
								<label for="ci">CI</label>
							</div>
							<div class="input-field col s12">
								<input id="nombre" type="text" class="validate" ng-model="newObj.nombre" required>
								<label for="nombre">Nombre</label>
							</div>
							<div class="input-field col s12">
								<input id="apellido" type="text" class="validate" ng-model="newObj.apellido" required>
								<label for="apellido">Apellido</label>
							</div>
							<div class="input-field col s12">
								<select id="categoria" ng-model="newObj.categoria">
									<option value="cat-B">Categoria B</option>
									<option selected value="cat-C">Categoria C</option>
								</select>
								<label for="categoria">Categoria</label>
							</div>
							<div class="input-field col s12">
								<input id="fecha_nac" type="text" class="datepicker" ng-model="newObj.fecha_nac">
								<label for="fecha_nac">Fecha de nacimiento</label>
							</div>
							<div class="input-field col s12">
								<input id="celular" type="number" class="validate" ng-model="newObj.celular" required>
								<label for="celular">Celular</label>
							</div>
							<div class="input-field col s12">
								<textarea id="descripcion" class="materialize-textarea validate" ng-model="newObj.descripcion" required></textarea>
								<label for="descripcion">Descripcion</label>
							</div>
							<div class="file-field input-field col s12">
								<div class="btn">
									<span>Imagen</span>
									<input type="file" file-model="file">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text" ng-model="newObj.img">
								</div>
							</div>

							<div class="row center">
								<div class="col s12 m6">
									<a class="waves-effect waves-light btn" ng-click="save(newObj);"><i class="material-icons left">cloud</i>Guardar</a>
								</div>
								<div class="col s12 m6">
									<a class="waves-effect waves-light btn red darken-4" ng-click="cancelar();"><i class="material-icons left">clear_all</i>Cancelar</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col l3 m2"></div>
	</div>




	<div class="row">
		<div class="col l2 m1"></div>
		<div class="col l8 m10 s12">
			<div class="content">
				<div class="row">
					<h3 class="col s12 center-align">Lista de los Choferes</h3>
				</div>
				<div class="row">
					<!-- List Lugar -->
					<div class="col s12">
						<table class="bordered highlight responsive-table">
							<thead>
								<tr>
									<th>Foto </th>
									<th>CI </th>
									<th>Nombre </th>
									<th>Apellido </th>
									<th>Categoria </th>
									<th>Descripcion </th>
									<th>Celular </th>
									<th>Fecha nacimiento </th>
									<th>Fecha de registro</th>
								</tr>
							</thead>
							<tbody>
								<!--<tr ng-repeat="g in garra | orderBy:'nombre':'reverse'">-->
								<tr ng-repeat="d in data | orderBy:'fecha':'reverse'">
									<td><img src="material/photos/{{d.img}}" class="responsive-img" width="45px"> </td>
									<td>{{d.ci}} </td>
									<td>{{d.nombre}} </td>
									<td>{{d.apellido}} </td>
									<td>{{d.categoria}} </td>
									<td>{{d.descripcion}} </td>
									<td>{{d.celular}} </td>
									<td>{{d.fecha_nac}} </td>
									<td>{{d.fecha}} </td>
									<td><a class="waves-effect waves-light btn-floating red darken-4" ng-click="delete(d.id);"><i class="material-icons left">delete</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col l2 m1"></div>
	</div>

</div>


<script>
	$(document).ready(function() {
		$('input#input_text, textarea#descripcion').characterCounter();
		$('.datepicker').pickadate({
			selectMonths: true, // Creates a dropdown to control month
			selectYears: 15 // Creates a dropdown of 15 years to control year
		});
		$('select').material_select();
	});
</script>
